#ignore .egg-info dir and the file inside
.egg-info/
.egg-info/*

#ignore .pyc files
*.pyc
*.py[cod]
*$py.class

#ignore .log file
*.log

#ignore __pycache__ dir and the file inside
__pycache__/*
__pycache__/

#ignore mypy cache dir and the file inside
.mypy_cache/*
.mypy_cache/

#ignore logs dir and the file inside
Password_Checker/logs/*
Password_Checker/logs/

# ignore the build due to the application installation
build/*
build/